%p#notice= notice

%p
  %b Content:
  = @comment.content
%p
  %b Product:
  = @comment.product_id
%p
  %b Image:
  = @comment.image
%p
  %b User:
  = @comment.user_id
%p
  %b Status:
  = @comment.status

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
