%nav.navbar-inverse
  .container
    .row
      .col-md-4
        %a.nav.navbar-nav{:href => "#"}
          %img{:alt => "Zing MP3 - Đỉnh cao âm nhạc", :src => "http://static.mp3.zdn.vn/skins/zmp3-v4.1/images/logo.png"}/
      .col-md-4
        %form.navbar-form.navbar-center{:role => "search"}
          .form-group
            %input.form-control{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-info{:type => "submit"}
              %span.glyphicon.glyphicon-search
      .col-md-4
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to "#{current_user.email}"
            %li.active= link_to "Logout",destroy_user_session_path(:authenticity_token => form_authenticity_token()), :method => :delete
          - else
            %li= link_to "Login", new_user_session_path
            %li.active= link_to "SignUp",new_user_registration_path