- model_class = Product
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @product.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @product.description
%p
  %strong= model_class.human_attribute_name(:price) + ':'
  %br
  = @product.price
%p
  %strong= model_class.human_attribute_name(:image) + ':'
  %br
  = @product.image

%form{:action => comments_path, :method =>"post"}
  %textarea{:name => "comment[content]"}
  %p
  %input{:name=>"comment[product_id]", :type=>"hidden",:value => @product.id}
    %button.btn.btn-info.dropdown-toggle{:type => "submit"} Submit
    %p All comment
.commnents
  - @comments.each do |comment|
    %p
      %span= comment.id
      %span= comment.content 


= link_to t('.back', :default => t("helpers.links.back")), products_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(@product), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(@product), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
